<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EduSoft Private Limited</title>
     <link rel="stylesheet" href="/static/layout.css">
    <link rel="icon" href="/static/icon.png" type="image/x-icon">
    
  </head>

  <body>
    <div class="container">
      <div class="banner">EduSoft Private Limited.</div>
      <div class="menu">
     <div class="menuitemselected"><a href="/home/">Home</a></div>
        <div class="menuitemselected"><a href="/products/">Products</a></div>
        <div class="menuitemselected"><a href="/people/">People</a></div>
        <div class="menuitemselected"><a href="/contactus/">Contact Us</a></div>
      </div>
      <div class="content">
        <div class="productcontent">    
          <h1>Our Premium Products</h1>
          <div class="productitems">
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book12.webp" alt="product image">
                  </div>
                  <div class="itemname">THE GREAT GASBY</div>
                  <div class="itemprice">Price: Rs.200 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book2.png"  alt="product image">
                  </div>
                  <div class="itemname">STEPHEN KING</div>
                  <div class="itemprice">Price: Rs.350 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book3.png" alt="product image">
                  </div>
                  <div class="itemname">THE BOOK TITLE</div>
                  <div class="itemprice">Price: Rs.450 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book4.webp" alt="product image">
                  </div>
                  <div class="itemname">AUTHOR NAME</div>
                  <div class="itemprice">Price: Rs.290 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book5.jpg" alt="product image">
                  </div>
                  <div class="itemname">DEATH BEFORE BREAKFAST</div>
                  <div class="itemprice">Price: Rs.500 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book6.jpg" alt="product image">
                  </div>
                  <div class="itemname">THE BIG DEAL</div>
                  <div class="itemprice">Price: Rs.440 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book7.jpg" alt="product image">
                  </div>
                  <div class="itemname">SMALL BLESSING</div>
                  <div class="itemprice">Price: Rs.300 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book8.png" alt="product image">
                  </div>
                  <div class="itemname">GET IT TOGETHER</div>
                  <div class="itemprice">Price: Rs.420 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book9.png" alt="product image">
                  </div>
                  <div class="itemname">CENTRAL EXERCISE LAW MANUAL</div>
                  <div class="itemprice">Price: Rs.280 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book10.webp" alt="product image">
                  </div>
                  <div class="itemname">HALOOWEN PARTY</div>
                  <div class="itemprice">Price: Rs.400 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book11.webp" alt="product image">
                  </div>
                  <div class="itemname">THE GUEST LECTURE</div>
                  <div class="itemprice">Price: Rs.250 </div>
              </div>
              <div class="productitem"> 
                  <div class="itemimage">
                  <img src="/static/book1.webp" alt="product image">
                  </div>
                  <div class="itemname">THE NIGHT RIDERS</div>
                  <div class="itemprice">Price: Rs.370 </div>
              </div>
          </div>
          </div>        
      </div>
      <div class="footer">
        Copyright &#169; 2023 EduSoft Private Limited, Developed by SHALINI.K.
      </div>
    </div>
  </body>
</html>


